<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <connectionStrings>
    <add name="McDashboardEntities" connectionString="metadata=res://*/DAL.McDashboardEntities.csdl|res://*/DAL.McDashboardEntities.ssdl|res://*/DAL.McDashboardEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=McDashboard;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <!--Serveur de la base -->
    <add key="Serveur" value="(local)" />
    <!--DataBase : Base-->
    <add key="DataBase" value="TestMcdo" />
    <!--Table :Nom de la table -->
    <add key="Table" value="NP6XML" />
    <add key="successPath" value="C:\Users\Faris\Desktop\XMLFiles\Success" />
    <add key="xmlFilesPath" value="C:\Users\Aymen.DESKTOP-D86AF7C\source\repos\VenteJournee\SolutionsItems\XMLFiles\XMLFiles" />
    <add key="errorPath" value="C:\Users\Faris\Desktop\XMLFiles\Errors" />
    <add key="logPath" value="C:\Users\Aymen.DESKTOP-D86AF7C\source\repos\VenteJournee\SolutionsItems\Log" />
    <add key="processRepeat" value="0" />
    <!--0 pour désactiver, 1+ pour activer-->
    <add key="isDeplacer" value="true" />
    <add key="NP6Port" value="8080" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key ="SaveXML" value="false"/>
	<add key ="StoredProcedure" value="false"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=localhost;initial Catalog=McDashboard; Integrated Security=True;" />
      <commandText value="INSERT INTO Log ([Date],[RestaurantId],[Duree],[Thread],[Level],[Logger],[Message],[ProcessLogId],[Exception]) VALUES (@log_date, @restaurantId, @duree, @thread, @log_level, @logger, @message, @processLogId, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@restaurantId" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{restaurantId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@duree" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{duree}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@processLogId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{processLogId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <!--<log4net>

  <appender name="Service" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogFileName}.xml" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true" />
    </layout>
  </appender>
    
  <root>
    <level value="All" />
    <appender-ref ref="file" />
  </root>
  <logger additivity="false" name="Service">
    <level value="All"/>
    <appender-ref ref="Service" />
  </logger>
</log4net>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>