USE [master]
GO
/****** Object:  Database [McDashboard]    Script Date: 22/02/2021 17:46:55 ******/
CREATE DATABASE [McDashboard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'McDashboard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\McDashboard.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'McDashboard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\McDashboard_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [McDashboard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [McDashboard]
GO
/****** Object:  Table [dbo].[APP_HOURLY_PMX]    Script Date: 22/02/2021 17:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_HOURLY_PMX](
	[PMXD_CIE_ID] [tinyint] NOT NULL,
	[PMXD_SITE_ID] [tinyint] NOT NULL,
	[PMXD_BUSINESS_DT] [datetime] NOT NULL,
	[PMXD_PROD_ID] [tinyint] NOT NULL,
	[PMXD_SALES_TM] [smalldatetime] NOT NULL,
	[PMXD_MCDE_ID] [tinyint] NOT NULL,
	[PMXD_MVAL_ID] [tinyint] NOT NULL,
	[PMXD_LLVR_ID] [tinyint] NOT NULL,
	[PMXD_EAT_IN_QY] [smallint] NOT NULL,
	[PMXD_TAKE_OUT_QY] [smallint] NOT NULL,
	[PMXD_PROMO_IN_QY] [smallint] NULL,
	[PMXD_PROMO_OUT_QY] [smallint] NULL,
	[PMXD_DISCOUNT_IN_QY] [smallint] NULL,
	[PMXD_DISCOUNT_OUT_QY] [smallint] NULL,
	[PMXD_HOR_BL] [tinyint] NULL,
	[PMXD_PROCESS_DT] [datetime] NULL,
	[PMXD_DTCE_ID] [tinyint] NULL,
	[PMXD_CA_IN_AM] [smallmoney] NULL,
	[PMXD_CA_OUT_AM] [smallmoney] NULL,
 CONSTRAINT [PK_APP_HOURLY_PMX_H2] PRIMARY KEY CLUSTERED 
(
	[PMXD_BUSINESS_DT] ASC,
	[PMXD_SITE_ID] ASC,
	[PMXD_PROD_ID] ASC,
	[PMXD_MCDE_ID] ASC,
	[PMXD_MVAL_ID] ASC,
	[PMXD_LLVR_ID] ASC,
	[PMXD_SALES_TM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_HOURLY_SALES]    Script Date: 22/02/2021 17:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_HOURLY_SALES](
	[HSA_CIE_ID] [varchar](500) NOT NULL,
	[HSA_SITE_ID] [varchar](500) NOT NULL,
	[HSA_BUSINESS_DT] [smalldatetime] NOT NULL,
	[HSA_SALES_TM] [varchar](500) NOT NULL,
	[HSA_MCDE_ID] [varchar](500) NOT NULL,
	[HSA_MVAL_ID] [varchar](500) NOT NULL,
	[HSA_LLVR_ID] [varchar](500) NOT NULL,
	[HSA_MPAY_ID] [varchar](500) NOT NULL,
	[HSA_SALES_PROD_AM] [money] NULL,
	[HSA_SALES_NON_PROD_AM] [money] NULL,
	[HSA_EAT_IN_TAC_QY] [smallint] NULL,
	[HSA_TAKE_OUT_TAC_QY] [smallint] NULL,
	[HSA_EAT_IN_SALES_AM] [money] NULL,
	[HSA_TAKE_OUT_SALES_AM] [money] NULL,
	[HSA_DISCOUNT_IN_TAC_QY] [smallint] NULL,
	[HSA_DISCOUNT_OUT_TAC_QY] [smallint] NULL,
	[HSA_DISCOUNT_IN_SALES_AM] [money] NULL,
	[HSA_DISCOUNT_OUT_SALES_AM] [money] NULL,
	[HSA_CREW_HOURS_WORKED] [numeric](12, 3) NULL,
	[HSA_CREW_GROSS_PAY] [money] NULL,
	[HSA_PROCESS_DT] [datetime] NULL,
	[DTCE_ID] [varchar](500) NOT NULL,
	[HSA_HDVRY_COSTS_AM] [money] NULL,
 CONSTRAINT [PK_APP_HOURLY_SALES] PRIMARY KEY CLUSTERED 
(
	[HSA_BUSINESS_DT] ASC,
	[HSA_SITE_ID] ASC,
	[HSA_SALES_TM] ASC,
	[HSA_CIE_ID] ASC,
	[HSA_MCDE_ID] ASC,
	[HSA_MVAL_ID] ASC,
	[HSA_LLVR_ID] ASC,
	[HSA_MPAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 22/02/2021 17:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[RestaurantId] [varchar](255) NOT NULL,
	[Duree] [varchar](255) NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[ProcessLogId] [varchar](50) NOT NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NP6XML]    Script Date: 22/02/2021 17:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NP6XML](
	[NumRestaurant] [int] NOT NULL,
	[DayActivity] [date] NOT NULL,
	[HourlySales] [xml] NULL,
	[PMIX] [xml] NULL,
	[HourlySalesDateMAJ] [datetime] NULL,
	[PmixDateMAJ] [datetime] NULL,
	[LastQueryHourlySales] [datetime] NULL,
	[LastQueryPMIX] [datetime] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[NumRestaurant] ASC,
	[DayActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([Id], [Date], [RestaurantId], [Duree], [Thread], [Level], [Logger], [Message], [ProcessLogId], [Exception]) VALUES (1886, CAST(N'2020-12-04T18:29:09.207' AS DateTime), N'94', N'', N'4', N'INFO', N'Mcd.App.GetXmlRpc.Helpers.logger', N'addresse IP : 10.19.1.71', N'20201204182907', N'')
INSERT [dbo].[Log] ([Id], [Date], [RestaurantId], [Duree], [Thread], [Level], [Logger], [Message], [ProcessLogId], [Exception]) VALUES (1940, CAST(N'2020-12-04T18:29:10.753' AS DateTime), N'48', N'', N'6', N'INFO', N'Mcd.App.GetXmlRpc.Helpers.logger', N'addresse IP : 10.19.1.71', N'20201204182907', N'')
INSERT [dbo].[Log] ([Id], [Date], [RestaurantId], [Duree], [Thread], [Level], [Logger], [Message], [ProcessLogId], [Exception]) VALUES (1994, CAST(N'2020-12-04T18:29:11.823' AS DateTime), N'1', N'0,5450434', N'6', N'INFO', N'Mcd.App.GetXmlRpc.Helpers.logger', N'Fin du traitement pour le resto # 1, durée du traitement : 00:00:00.5450434', N'20201204182907', N'')
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
ALTER TABLE [dbo].[APP_HOURLY_PMX] ADD  CONSTRAINT [DF_APP_HOURLY_PMX_WITH_PARTITIONS_PMXD_HOR_BL_H2]  DEFAULT ((0)) FOR [PMXD_HOR_BL]
GO
ALTER TABLE [dbo].[APP_HOURLY_PMX] ADD  CONSTRAINT [DF_APP_HOURLY_PMX_WITH_PARTITIONS_PMXD_DTCE_ID_H2]  DEFAULT ((0)) FOR [PMXD_DTCE_ID]
GO
ALTER TABLE [dbo].[APP_HOURLY_SALES] ADD  CONSTRAINT [DF_AHS_DTCE_ID_V3]  DEFAULT ((1)) FOR [DTCE_ID]
GO
ALTER TABLE [dbo].[APP_HOURLY_SALES] ADD  CONSTRAINT [CST_HSA_HDVRY_COSTS_AM_Default]  DEFAULT ((0)) FOR [HSA_HDVRY_COSTS_AM]
GO
USE [master]
GO
